.btn-search{
    padding: 3px 0px 3px 0px;
}
.search_block{
    padding-right: 2px;
}
.h1-c{
    font-size: 30px;
}
.catalog-title-name{
    font-size: 26px;
}
.card-block,
.photo,
.card-block-discount{
    width: 100%;
}
.autocomplete-result-search ul li{
    width: 50%;
}
.menu-inline li{
    margin-right: 30px;
}
.btns-filter .btn-filter:nth-child(3){
    display: none;
}
.btn2-menu{
    height: 28px;
}
.menu-btns-card{
    padding: 15px 0;
}
.btn2-menu:hover {
    box-shadow: 0px 0px 0px 0px  #a7c9ff;
}

.n2{
    display: none;
}
.n1{
    margin-right: 0px;
}
.btn-add-photo{
    width: 120px;
}
.block-review-content{
    flex-direction: column;
}
.review-text{
    margin-top: 15px;
    width: 100%;
}
.rating-r{
    margin-left: 0px;
}
.review-photo{
    margin-left: 20px;
}
.review-footer-btn:first-child{
    margin-left: 20px;
}
.block-btn-circle-share{
    display: none;
}
.container-photo{
    width: 100%;
    margin-right: 0px;
}
.container-photo:nth-child(3n){
    margin-right: 0px;
}
.container-photo:nth-child(2n){
    margin-right: 0px;
}
.card-block-discount{
    margin-right: 0px;
}
.progress-level-bar{
    width: 100%
}
.card-block{
    margin-right: 0px;
}